.form-content {
  display: flex;
  justify-content: center;

  form {
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
  }

  .row {
    display: flex;
    //flex-direction: column;
    margin: 18px auto 0 auto;

    input, textarea {
      width: 100%;
      max-width: 500px;
      padding: 12px 20px;
      margin: 0;
      display: inline-block;
      border: 1px solid #e1e1e1;
      box-sizing: border-box;
      transition: box-shadow .15s;

      &:focus {
        box-shadow: 0 4px 8px #464646;
      }
    }

    label {
      padding: 13px 10px 10px 0;
      text-align: end;
      min-width: 70px;
    }

    button {
      max-width: 100px;
      background-color: #0088ff;
      color: white;
      padding: 10px 10px;
      margin: 0 0 0 auto;
      border: none;
      cursor: pointer;
      font-size: 1.125em;
      box-shadow: 0 1px 3px #464646;
      transition: box-shadow .15s;

      &:hover {
        text-decoration: underline;
        box-shadow: 0 7px 15px #464646;
      }

      &:active {
        box-shadow: 0 1px 3px #464646;
      }
    }
  }
}
