.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;

  .prompt {
    margin: 0 auto -20px auto;
  }

  .connection {
    display: flex;
    width: auto;
    border: 1px solid #666;
    margin: 10px auto;

    span {
      padding: 10px 16px;
      margin: auto;
    }
  }

  .results {
    display: grid;
    grid-template-columns: min-content repeat(2, 1fr);
    width: 500px;
    margin: 0 auto;

    .title {
      border-bottom: 1px solid #666666;
    }

    .title-btn {
      margin: 2px;
    }

    .result {
      border-bottom: 1px solid #e1e1e1;
      padding: 3px 10px;
    }

    .cb {
      margin: 5px 5px 0 0;
    }
  }

  .save-options {
    display: flex;
    width: 500px;
    margin: 16px auto;

    button {
      margin-left: auto;
    }
  }
}
