.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;

  .open-file {
    margin: auto;
    width: 500px;

    .prompt {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #e1e1e1;
      width: 100%;

      label {
        padding: 10px;
        margin: auto;
      }

      .open-cb {
        margin: 2px 5px 0 10px;
        width: min-content;
      }
    }


    input {
      margin: 18px auto;
      padding: 0 10px;
      width: 100%;
    }
  }

  .results {
    display: grid;
    grid-template-columns: min-content repeat(2, 1fr);
    width: 500px;
    margin: 0 auto;

    .title {
      border-bottom: 1px solid #666666;
    }

    .title-btn {
      margin: 2px;
    }

    .result {
      border-bottom: 1px solid #e1e1e1;
      padding: 3px 10px;
    }

    .cb {
      margin: 5px 5px 0 0;
    }
  }
}
