.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;

  .results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
    margin: auto;

    .title {
      border-bottom: 3px double #e1e1e1;
      padding: 5px;
      text-align: center;
      font-weight: bold;
    }

    .result {
      border-bottom: 1px solid #e1e1e1;
      padding: 3px 10px;
    }

    .ignored {
      color: #d1d1d1;
      background: #f9f9f9;
    }
  }

  .upload-options {
    display: flex;
    width: 500px;
    margin: 16px auto;

    .padding {
      margin-left: auto;
    }

    button{
        margin-left: 10px;
    }
  }
}
