  <div class="container">
    <app-login-form [loginConfig]="ulLoginConfig"
                    (loggedInConfig)="onLoggedIn($event)"
                    (loggedOut)="onLogout($event)"></app-login-form>
  </div>
  <div class="container" *ngIf="collections.length > 0">
    <div class="results" >
      <label class="title">Selected Collections</label>
      <label class="title">Items</label>
      <ng-container id="collections" class="row" *ngFor="let collection of collections; let i = index">
        <span class="result" [ngClass]="{'ignored' : !collection?.selected}">{{collection?.name}}</span>
        <span class="result" [ngClass]="{'ignored' : !collection?.selected}">{{collection?.items ? collection?.items.length : collection?.error}}</span>
      </ng-container>
    </div>
    <div class="upload-options">
      <span class="padding"></span>
      <button class="upload-btn" (click)="onUpload()" [disabled]="!collections.length > 0 || !loggedIn">Upload</button>
      <button class="save-btn" (click)="onSave()" [disabled]="!collections.length > 0">Save</button>
    </div>
  </div>
